[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lovexi
[access "refs/for/refs/*"]
	read = group user/lovexi
	push = group user/lovexi
	label-Code-Review = -2..+2 group user/lovexi
	label-Verified = -1..+1 group user/lovexi
	rebase = group user/lovexi
	removeReviewer = group user/lovexi
	submit = group user/lovexi
[access "refs/heads/*"]
	read = group user/lovexi
	create = group user/lovexi
	push = +force group user/lovexi
	pushMerge = group user/lovexi
[access "refs/tags/*"]
	push = +force group user/lovexi
	pushTag = group user/lovexi
	pushSignedTag = group user/lovexi
